
:root {
    /*Color palette*/
    --dark:  #1A1A1A !important;
    --light: #FFFFFF;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Roboto", sans-serif;
    color: var(--light) !important;
    font-size: 0.9rem;
    line-height: 1.2rem;
    background-color: var(--dark) !important;
    z-index: 1000!important;
  }

main {
    margin: 0 15vw 0 15vw;
}

/*-----------NAV BAR-----------*/
.logo-image img{
 height: 3.5rem;
 width: 4rem;
}
.navbar{
   font-weight: 600;
   letter-spacing: .1rem;
   box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
   z-index: 1;
}

.nav-item{
  padding: .5rem;
}

.nav-link{
  color: #5b5555!important;
}
.nav-link:hover {
  color: #2DC28C!important
}

.error {
    color: red
}

.message {
    color: #2DC28C
}
 .navbar-light .navbar-brand{
   color: #616971;
 }

 .navbar-light .navbar-brand:hover{
   color: #FFC0CB!important
 }

 /*--------Fixed Header-------*/
 .fixed-background {
   position: relative;
   width: 100%;
   z-index: -998!important;
 }
 .fixed-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -999 !important;
 }
 .fixed {
   z-index: -999!important;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
 }
 .fixed{
   background-image: url('img/Senedd-building.jpg');
   position: fixed;
 }

 .fixed-background{
   padding: 7% 0;
 }

 .heading{
   font-size: 5rem;
   padding-left: 5%;
   padding-right: 5%;
   color: var(--light);
 }

 /*--------Fixed Header-------*/
 .card-body{
   color: var(--dark) !important;
 }

/*---------Text---------*/
.container-fluid{
  margin-top: 3%;
}

li{
  margin-left: 3%;
}

a{
  color:#2DC28C !important;
}

h3{
  margin-top: 4% !important;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0% !important;
  margin-right: 0% !important;
}

/*--------Fix for Safari-------*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .fixed-wrap {
    clip: auto;
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%)
  }
}

/*--------Footer-------*/
footer {
  padding: 2% 0;
  background-color: #404040;
  margin-top: 2%;
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1.2rem!important;
}

.footer-text{
  color: #FFFFFF!important;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
}

.footer-text:hover {
  color: #2DC28C!important;
  text-decoration: none;
}

.flourish-embed .flourish-chart{
  margin-right: 60%;
}
