/* CSS files add styling rules to your content */

:root {
    /*Color palette*/
    --dark:  #1A1A1A;
    --light: #FFFFFF;
    
}

* {
    background-color: var(--dark);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: "Roboto", sans-serif;
    color: var(--light);
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

main {
    margin: 0 15vw 0 15vw;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow:hidden;
}

/*-----------SITE HEADER-----------*/

.street {
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0.5; /*makes the pic darker so the title is readable*/
}
  
#title {
    position: absolute;
    padding-left: 8vw;
    padding-right: 8vw;
    top: calc(50% - 5rem);
    width: 100%;
    text-align: center;
    z-index: 5;
    font-family: "Chivo", sans-serif;
    line-height: 3rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--light);
    background-color: linear-gradient(to bottom, var(--dark), transparent);
  }

#byline {
    position: absolute;
    top: calc(50% + 2rem);
    width: 100%;
    text-align: center;
    z-index: 5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--light);
    background-color: linear-gradient(to bottom, var(--dark), transparent);
}

/*-----------GENERAL SECTION RULES-----------*/

h2.section-title {
    font-family: "Chivo", sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

/*-----------SECTION 1: CONTEXT-----------*/

#broadband-map {
    display: block;
    margin: auto;
    width: 100%; 
    height: 520px;
    padding: 1.5rem 0 0.5rem 0;
}

.source {
    text-decoration: none;
    color: var(--light);
    font-size: 0.8rem;
    font-weight: 400;
}

/*-----------SECTION 2: ARTICLES-----------*/

.art-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    text-align: center;
    height: 60vh;
}

.article-1 {
    flex: 1;
    border: 2px solid yellow;
}

.article-2 {
    flex: 1;
    border: 2px solid red; 
}

.article-3 {
    flex: 1;
    border: 2px solid yellowgreen;
}

.article-4 {
    flex: 1;
    border: 2px solid purple;
}